<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jojo.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

  <div class = "description">
    <h2>Do you have something you need <%= title %>?</h2>
    <img src="/images/prod.jpg" alt="Productivity" />
    <h3>2DO keeps track of the things you need <em>to do</em> so you don't have to!</h3>
  </div>

<div class = "list">
 <ol>
   <li><strong>ONE</strong> Pick up Sarah at 3pm.</li>
   <li><strong>TWO</strong> Do laundry before in-laws come home.</li>
   <li><strong>THREE</strong> Make kids dinner.</li>
   <li><strong>FOUR</strong> Don't panic.</li>
   <li><strong>FIVE</strong> Repeat step four.</li>
 </ol>
 </div>

</html>
