<!DOCTYPE html>
<html>
  <head>
    <title>2DO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jojo.js"></script>
  </head>
  <body>
    <h1>2DO</h1>

  <div class = "description">
    <h2>Do you have something you need 2DO?</h2>
    <img src="/images/prod.jpg" alt="Productivity" />
    <h3>2DO keeps track of the things you need <em>to do</em> so you don't have to!</h3>
  </div>

<div class = "list">
 <ol>
   <% for(var i in todos) { %>
   <ul><strong>ONE</strong> <%= todos[i].name %> <a class="button" href="/delete?id=<%= todos[i]._id %>">Delete</a></ul>
   <% } %>
  <br />
  <form action="/pandah">
    Task: <input type="text" name="task" value=""><br>
    <input type="submit" value="Submit">
  </form>
 </ol>
 </div>

</html>
