<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jojo.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

  <div class = "description">
    <h2>Do you have something you need <%= title %>?</h2>
    <img src="/images/prod.jpg" alt="Productivity" />
    <h3>2DO keeps track of the things you need <em>to do</em> so you don't have to!</h3>
  </div>

<div class = "list">
  <form action="/action_page.php" method="get">
  <input type="checkbox" name="listNames" value="first" checked> Pick up Sarah at 3pm. <button type="button">Delete</button></li><br>
  <input type="checkbox" name="listNames" value="second"> Do laundry before in-laws come home. <button type="button">Delete</button></li><br>
  <input type="checkbox" name="listNames" value="second" checked> Make kids dinner. <button type="button">Delete</button><br>
  <input type="checkbox" name="listNames" value="second"> Don't panic. <button type="button">Delete</button><br>
  <input type="checkbox" name="listNames" value="second"> Repeat step four. <button type="button">Delete</button><br>
</form>
<br />
<form action="/action_page.php">
Task: <input type="text" name="task" value=""><br>
<input type="submit" value="Submit">
</form>
 </ol>
 </div>

</html>
